<% categories_selected ||= nil %>
<% title ||= nil %>

<% extend CategoriesHelper %>

<%= content_tag "h#{title_size}",
                "#{title} #{modal_link_to(font_awesome(:help), action: 'why_categorize')}".html_safe,
                class: "box-title why-categorize" %>

<%= hidden_field_tag "#{object_name}[category_ids][]", nil %>

<div id="category-ajax-selector">
  <table id='selected-categories' class='actions'>
    <tr id='empty-row' <%= 'hidden' if categories_selected.present? %>>
      <td colspan=2>
        <i><%= _('There are no %s selected yet.') % _(kind.to_s) %></i>
      </td>
    </tr>

    <% categories_selected.each do |category| %>
      <%= render :partial => 'shared/category_row', :locals => {:category => category, :object_name => object_name} %>
    <% end %>
  </table>

  <div id='select-categories'>
    <%= render :partial => 'shared/select_categories', :locals => {:object_name => object_name, :multiple => true, :kind => kind }, :layout => false %>
  </div>
</div>
