<li>
<div class='treeitem'>
  <div class='category-name'>
    <% unless category_color_style(category).empty? %>
      <span class="color_marker" style="<%= category_color_style(category) %>" ></span>
    <% end %>
    <span id="general-categories"><%= category.name %></span>
  </div>

  <% if category.children.count > 0 %>
  <div class='category-actions'>
    <div class='button' style="position: relative;">    
      <%= link_to _('Add subcategory'), :action => 'new', :parent_id => category %>
    </div>
    <div class='button' style="position: relative;">    
      <%= link_to _('Edit'), :action => 'edit', :id => category %>
    </div>  
    <div class='button' style="position: relative;">    
      <%= link_to _('Remove'), { action: 'remove', id: category, }, method: 'post', data: {confirm: if category.children.empty? then _('Are you sure you want to remove "%s"?') % category.name else _('Are you sure you want to remove "%s" and all its subcategories?') % category.name end} %>
    </div>
    
    <div class='button' id="category-loading-<%= category.id %>" style="position: relative;">
      <a href="#" id="show-hide-button-<%= category.id %>" class="show-button" onclick="return false;" data-category="<%= category.id %>"><%= _('Show/Hide subcategories') %></a>
    </div>
  </div>  
  <% end %>
</div>

<ul id="category-sub-items-<%= category.id %>" class="tree" style="display:none;"></ul>

</li>
